/* ==========================================================================
   BASE.
   ========================================================================== */


/* Global Variables
   ========================================================================== */
$title-text-padding: 40px;


/* .container
   ========================================================================== */
.container {
	height: 100%;
}

/* .title
   ========================================================================== */
.title {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: grey;
}

.title h1 {
	position: absolute;
	top: 50%;
}

/* students
   ========================================================================== */
.students img {
	width: 100%;
}

.student-details {
	visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: red;
}

.student-details p {
	padding: 0 2em;
	line-height: 1.4;
}

.student-details a {
	display: block;
	padding: 1.2em;
	text-align: center;
}

.open {
	visibility: visible;
}

/* .details
   ========================================================================== */
.details {
	height: 800px;
}

.show {
	background-color: cyan;
}

.directions {
	background-color: blue;
}