/* ==========================================================================
   BASE.
   ========================================================================== */


/* Global Variables
   ========================================================================== */
$title-text-padding: 40px;


/* .container
   ========================================================================== */
.container {
	height: 100%;
}

/* <button>
   ========================================================================== */
a.button {
	display: block;
	background-color: #ffb800;
	padding: 1.2em;
	text-align: center;
}

a.button:hover {

}

/* .title
   ========================================================================== */
.title {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: grey;
}

.title h1 {
	position: absolute;
	top: 50%;
	color:red;
}

/* students
   ========================================================================== */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.senior {
	// background-color: #e6e6e7;
}

.students {
	background-color: #e6e6e7;
}

.students img {
	width: 100%;
	padding-top: 10px;
}

.student:hover {
	transition: background-color border 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	background-color: #ffffff;
	border: 1px solid #d1d3d3;
}

.student-details {
	display: none;
	width: 100%;
	height: auto;
	margin-bottom: 1.2em;
	background-color: red;
}

.student-details p {
	padding: 0 2em;
	line-height: 1.4;
}

.student-details a {
	display: block;
	padding: 1.2em;
	text-align: center;
}

.mobile {
	display: none;
}

.open {
	display: block;
}

.major {
	padding: 0.2em 0 0.8em 0;
}

/* .details
   ========================================================================== */
.details {
	height: 800px;
}

.show {
	background-color: #273441;
	color: #fff;
}


.directions {
	background-color: blue;
}