/* ==========================================================================
   BASE.
   ========================================================================== */


/* .container
   ========================================================================== */
.container {
	height: 100%;
}

/* .title
   ========================================================================== */
.title {
	// position: absolute;
	width: 100%;
	height: 600px;
	background-color: grey;
}