/* ==========================================================================
   FOOTER.
   ========================================================================== */
footer {
	padding: 40px;
}

footer h2 {
	color: $white;
}

footer ul {
	text-align: center;
}

footer ul li {
	padding: 40px 6%;
}

footer a {
	font-weight: normal;
	color: $white;
}

footer a:hover {
	border-bottom: 4px solid $white;
}