/* ==========================================================================
   FOOTER.
   ========================================================================== */
$break-small: 1024px;

footer {
	background-color: $red;
	position: relative;
	height: auto;
	padding: 50px;
	@media screen and (max-width: $break-small) {
    margin-top: 420px;
  }
}

footer h2 {
	color: $white;
}

footer ul {
	text-align: center;
}

footer ul li {
	padding: 40px 2%;
}

footer a {
	font-weight: normal;
	color: $white;
}

footer a:hover {
	border-bottom: 4px solid $yellow;
}