/* ==========================================================================
   NAVIGATION.
   ========================================================================== */

/* Navigation Variables
   ========================================================================== */

$break-small: 800px;
$break-large: 1500px;

/* Base Navigation Styles.
   ========================================================================== */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 700px;
  @media screen and (max-width: $break-small) {
    padding-top: 0px;
  }
  @media screen and (min-width: $break-large) {
    padding-top: 840px;
  }
}
.main-nav,
.students {
  position: relative; 
}
.main-nav {
  background: rgb(39,52,65);
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  text-align: center;
}
.title,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-nav a {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 30px 20px;
}

.none {
	background-image: none;
}