/* ==========================================================================
   TYPOGRAPHY.
   ========================================================================== */

/* Type Variables
   ========================================================================== */

$headline: 'Oswald', sans-serif;;
$font-default: 'Lato', sans-serif;

/* Base Type Styles.
   ========================================================================== */

body {
	font-family: $font-default;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $headline;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	padding: 12px 0 0;
}

h3 {
	font-family: $headline;
	text-align: center;
	margin: 20px 0;
}

span {
	display: block;
	text-align: center;
}

ul {
	// width: 100%;
	display: block;
	border-top: 1px solid #d1d3d3;
	margin: 20px auto;
}

ul li {
	display: inline-block;
	text-align: center;
	padding: 20px 25px;
}
