/* ==========================================================================
   TYPOGRAPHY.
   ========================================================================== */

/* Type Variables
   ========================================================================== */

$headline: 'Oswald', sans-serif;;
$font-default: 'Lato', sans-serif;

/* Base Type Styles.
   ========================================================================== */

body {
	font-family: $font-default;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $headline;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	padding: 12px 0 0;
	font-size: 4em;
}

.students h1 {
	padding: 40px 0;
}

h2 {
	font-size: 2em;
}

.title h1 {
	display: block;
	margin-top: 14%;
	color: #fdc20e;
}

.directions h1 {
	color: $white;
}

h3 {
	font-size: 1em;
	text-align: center;
	margin: 20px 0;
}

p {
	font-weight: normal;
}

p.lede {
	font-size: 1.4em;
	text-align: center;
}

p.closing {
	color: #fdc20e;
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
}

p.show-date {
	font-size: 1.4em;
	font-weight: 400;
	color: #fdc20e;
	text-align: center;
	margin-top: 0;
}

span {
	display: block;
	text-align: center;
}

ul {
	// width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0;
}

li {
	padding: 0;
}

ul li {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 20px 9%;
}

ul.social {
	border-top: 1px solid #d1d3d3;
	text-align: center;
}

li a img:hover {
	transition: border-bottom 0.5s ease-in-out 0s;
	-webkit-transition: border-bottom 0.5s ease-in-out 0s;
	border-bottom: 4px solid #f26835;
}
