/* ==========================================================================
   COLORS.
   ========================================================================== */
$white: #fff;
$yellow: #fdc20e;
$background-grey: #e6e6e7;
$red: #f26835;